.hero {
    padding: 4rem 2rem;
    background-color: var(--nord0);
    background-image: url('http://assets.darbyshire.tech/portfolio/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--nord6);
    text-align: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 11, 22, 0.5);
    z-index: -1;
}
.title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: var(--nord4)
}
.subtitle {
    font-size: 1.5rem;
    color: var(--nord5);
    margin-bottom: 2rem;
}

.tagline {
    font-size: 1rem;
    color: var(--nord5);
    margin-bottom: 2rem;
    white-space: pre;
}

.cursor {
    color: var(--nord7);
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}